<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>527645071665-ehagqlga86d15kl30lb7nmngj6v45iod.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.527645071665-ehagqlga86d15kl30lb7nmngj6v45iod</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>527645071665-0hemvtk53oe6f79btkfh1vma78087e05.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyBjRtxt7C9xWfDyXSxJ6rIDl7g0OX5P1ZQ</string>
		<key>GCM_SENDER_ID</key>
		<string>527645071665</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.troove.trooveAppV2.staging</string>
		<key>PROJECT_ID</key>
		<string>troove-dev</string>
		<key>STORAGE_BUCKET</key>
		<string>troove-dev.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:527645071665:ios:ca3e3ec81b8d334b8d3810</string>
	</dict>
</plist>