<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJwtkUdhuaFLkYilg5tYfGHuJKp1c3Xe8</string>
	<key>GCM_SENDER_ID</key>
	<string>382266184129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyWE.companyWEApp</string>
	<key>PROJECT_ID</key>
	<string>companywedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>companywedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382266184129:ios:ea68f2e4abf906e6c31f40</string>
</dict>
</plist>